# editors
.idea/
.vscode/

# python
*.egg-info/
*.py[cod]
.venv/
.venvs/
/build/
/dist/

# secrets
.env
.env.*
!.env.example

# tools
.coverage*
.testmondata*
/.pdm-build/
/htmlcov/
/site/

# cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
